* {
/*	border-color: red;
	border-width: 1px;
	border-style: solid;*/
	color: white;
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight: 400;
	margin: 0 0 0 0;
	text-decoration: none;
	text-align: justify;
}
body {
	background-color: #622e00;
	overflow-x: hidden;
}
li {
	padding-top: 12px;
	font-size: inherit;
	font-family: 'Comfortaa', cursive;
	font-weight: 300;
	color: #353230;
}
.orange-bg {
	background-color: #FF7700;
}
.centered {
	display: block;
	margin-left: auto;
    margin-right: auto;
}
/*fix navbar*/
#fix-navbar {
	opacity: 0;
	z-index: 100;
	position: fixed;
	top: 0;
	width: 100vw;
	height: 90px;
	background-color: #e6e6e6;
	background-image: url('../image/texture-dark.png');
	background-attachment: fixed;
}
#nav-title {
	font-family: 'Comfortaa', cursive;
	font-weight: 400;
	font-size: 2em;
	position: absolute;
	width: calc(100% - 430px);
	padding-left: 215px;
	padding-top: 20px;
	color: #663000;
	text-align: center;
}
#fix-navbar a {
	font-size: 1.2em;
	color: #994800;
	text-decoration: none;
	float: right;
	padding-top: 20px;
	margin-right: 20px;
	-webkit-transition: color 0.15s;
    transition: color 0.15s;
}
#fix-navbar a.half-focus {
	color: #663000;
}
#fix-navbar a:first-of-type {
	margin-right: 40px;
}
#fix-navbar a:hover {
	color: #663000;
	-webkit-transition: color 0.15s;
    transition: color 0.15s;
}
/*hero*/
#hero-block {
	position: absolute;
	top: 100vh;
	z-index: 0;
	width: 100vw;
	height: 400px;
}
#navbar {
	z-index: 100;
	position: fixed;
	width: 100vw;
	height: 60px;
}
#navbar a {
	text-decoration: none;
	float: right;
	font-size: 1.2em;
	padding-top: 20px;
	margin-right: 20px;
	-webkit-transition: color 0.15s;
    transition: color 0.15s;
}
#navbar a.half-focus {
	color: #994800;
}
#navbar a:first-of-type {
	margin-right: 40px;
}
#navbar a:hover {
	color: #663000;
	-webkit-transition: color 0.15s;
    transition: color 0.15s;
}
#hero-image {
	opacity: 0;
	position: absolute;
	top: 100vh;
	z-index: -100;
	width: 100vw;
}
#shadow {
	position: absolute;
	width: 100vw;
	height: 100%;
	left: 0;
	top: 100%;
	background: linear-gradient(to top, rgba(0,0,0,0.35) 0, rgba(0,0,0,0) 100px, rgba(0,0,0,0) 100%);
}
#title {
	font-family: 'Comfortaa', cursive;
	font-weight: 400;
	font-size: 3em;
	position: absolute;
	left: 80px;
	bottom: 10%;
}
/*content*/
#content-block {
	position: absolute;
	top: 100vh;
	z-index: 99;
	/*background-color: #FF7700;*/
	background-color: #ffe4cd;
	background-image: url('../image/texture-dark.png');
	background-attachment: fixed;
	width: 100%;
}
.image-left {
	vertical-align: middle;
	margin-top: 60px;
	display: inline-block;
	width: 36%;
	margin-left: 14%;
}
.image-right {
	vertical-align: middle;
	margin-top: 60px;
	display: inline-block;
	width: 36%;
}
.image-full {
	position: relative;
	display: block;
	margin-top: 50px;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
.image-small {
	position: relative;
	display: block;
	margin-top: 15px;
	width: 25%;
	margin-left: auto;
	margin-right: auto;
}
.image-3 {
	vertical-align: middle;
	display: inline-block;
	margin-top: 30px;
	width: 26%;
}
img.first {
	margin-left: 11%;
}
.image-big {
	margin-top: 60px;
	width: 60%;
	margin-left: 20%;
}
.image-set {
	position: relative;
	display: block;
	width: 75%;
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
}
.text-left {
	font-family: 'Comfortaa', cursive;
	font-weight: 300;
	font-size: 1.2em;
	color: #353230;
	margin-top: 60px;
	display: inline-block;
	/*color: #000;*/
	width: 33%;
	margin-left: 15%;
	margin-right: 2%;
}
.text-right {
	font-family: 'Comfortaa', cursive;
	font-weight: 300;
	font-size: 1.2em;
	color: #353230;
	margin-top: 60px;
	display: inline-block;
	width: 33%;
	margin-left: 2%;
}
.text-full {
	font-family: 'Comfortaa', cursive;
	font-weight: 400;
	color: #353230;
	font-size: 1.5em;
	margin-top: 60px;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}
.gap {
	margin-top: 120px;
}
.no-gap {
	margin-top: 0px;
}
#button-bar {
	opacity: 0.9;
	background-color: #e6e6e6;
	background-image: url('../image/texture-dark.png');
	background-attachment: fixed;
	margin-top: 30px;
	padding-top: 30px;
	width: 100%;
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 120px;
}
#button-bar a {
	font-family: 'Comfortaa', cursive;
	font-weight: 300;
	position: absolute;
	font-size: 2em;
	color: #994800;
	text-align: right;
}
#button-bar a.right {
	right: 10%;
	text-align: left;
}
#transition-block {
	background-color: #622e00;
	position: fixed;
	z-index: 300;
	width: 100vw;
	height: 0;
	top: 100vh;
}
.top-align {
	vertical-align: top;
}
@media screen and (min-width: 2401px) {
	#title {
		font-size: 5.5em;
	}
	#nav-title {
		margin-top: 40px;
		font-size: 5em;
	}
	#navbar a {
		font-size: 3.3em;
		margin-right: 35px;
	}
	#navbar a:first-of-type {
		margin-right: 55px;
	}
	#fix-navbar {
		height: 185px;
	}
	#fix-navbar a {
		font-size: 3.3em;
		margin-right: 35px;
	}
	#fix-navbar a:first-of-type {
		margin-right: 55px;
	}
	.text-left, .text-right {
		font-size: 4em;
	}
	.text-full {
		font-size: 4.6em;
	}
	#button-bar a {
		font-size: 5em;
	}
	#button-bar {
		padding-bottom: 400px;
	}
}
@media screen and (min-width: 1800px) and (max-width: 2400px) {
	#title {
		font-size: 3.5em;
	}
	#nav-title {
		font-size: 2.3em;
	}
	#navbar a {
		font-size: 1.3em;
		margin-right: 25px;
	}
	#navbar a:first-of-type {
		margin-right: 35px;
	}
	#fix-navbar {
		height: 95px;
	}
	#fix-navbar a {
		font-size: 1.3em;
		margin-right: 25px;
	}
	#fix-navbar a:first-of-type {
		margin-right: 35px;
	}
	.text-left, .text-right {
		font-size: 2em;
	}
	.text-full {
		font-size: 2.4em;
	}
	#button-bar a {
		font-size: 3em;
	}
	#button-bar {
		padding-bottom: 200px;
	}
}
@media screen and (min-width: 811px) and (max-width: 1100px) {
	#title {
		font-size: 2.5em;
	}
	#nav-title {
		font-size: 1.7em;
	}
	#navbar a {
		font-size: 1em;
		margin-right: 15px;
	}
	#navbar a:first-of-type {
		margin-right: 30px;
	}
	#fix-navbar {
		height: 75px;
	}
	#fix-navbar a {
		font-size: 1em;
		margin-right: 15px;
	}
	#fix-navbar a:first-of-type {
		margin-right: 30px;
	}
	.image-left, .image-right {
		vertical-align: bottom;
	}
}
@media screen and (min-width: 686px) and (max-width: 810px) {
	#title {
		font-size: 2em;
	}
	#nav-title {
		font-size: 1.7em;
		width: calc(100% - 215px);
		padding-left: 20px;
	}
	#navbar a {
		font-size: 1em;
		margin-right: 15px;
	}
	#navbar a:first-of-type {
		margin-right: 30px;
	}
	#fix-navbar {
		height: 75px;
	}
	#fix-navbar a {
		font-size: 1em;
		margin-right: 15px;
	}
	#fix-navbar a:first-of-type {
		margin-right: 30px;
	}
	#button-bar a {
		font-size: 1.4em;
	}
	.image-left, .image-right {
		vertical-align: bottom;
	}
	.text-left, .text-right {
		font-size: 0.8em;
	}
	.text-full {
		font-size: 1.2em;
	}
	.image-small {
		position: relative;
		display: block;
		margin-top: 30px;
		width: 50%;
		margin-left: auto;
		margin-right: auto;
	}

}
@media screen and (min-width: 491px) and (max-width: 685px) {
	#shadow{
		background: linear-gradient(to bottom, rgba(0,0,0,0.35) 0, rgba(0,0,0,0) 100px, rgba(0,0,0,0) 100%);
	}
	#title {
		font-size: 1.5em;
	}
	#nav-title {
		padding-top: 16px;
		font-size: 1.3em;
		width: calc(100% - 215px);
		padding-left: 20px;
	}
	#navbar a {
		font-size: 1em;
		margin-right: 15px;
	}
	#navbar a:first-of-type {
		margin-right: 30px;
	}
	#fix-navbar {
		height: 55px;
	}
	#fix-navbar a {
		font-size: 1em;
		margin-right: 15px;
	}
	#fix-navbar a:first-of-type {
		margin-right: 30px;
	}
	#button-bar a {
		font-size: 1.4em;
	}
	.text-left, .text-right, .text-full {
		font-family: 'Comfortaa', cursive;
		font-weight: 300;
		color: #353230;
		font-size: 1em;
		margin-top: 30px;
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
	.image-small {
		position: relative;
		display: block;
		margin-top: 30px;
		width: 50%;
		margin-left: auto;
		margin-right: auto;
	}
}
@media screen and (max-width: 490px) {
	#fix-navbar {
		display: none;
	}
	#shadow{
		background: linear-gradient(to bottom, rgba(0,0,0,0.35) 0, rgba(0,0,0,0) 100px, rgba(0,0,0,0) 100%);
	}
	#title {
		left: 20px;
		font-size: 1.2em;
	}
	#navbar a {
		font-size: 1em;
		margin-right: 15px;
	}
	#navbar a:first-of-type {
		margin-right: 30px;
	}
	#button-bar a {
		font-size: 1em;
	}

	.image-left, .image-right, .image-full, .image-big, .image-set, .image-small {
		position: relative;
		display: block;
		margin-top: 30px;
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
	.image-3 {
	}
	img.first {
	}
	.text-left, .text-right, .text-full {
		font-family: 'Comfortaa', cursive;
		font-weight: 300;
		color: #353230;
		font-size: 1em;
		margin-top: 30px;
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
	.gap {
		margin-top: 50px;
	}
	.no-gap {
		margin-top: 0px;
	}
	#title {
		font-size: 1em;
	}
}