* {
	color: white;
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight: 400;
}
h1 {
	font-family: 'Kaushan Script', cursive;
	font-size: 70px;
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
}
h2 {
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
}
p {
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 100;
}
.orange-bg {
	background-color: #FF7700;
	margin: 0 0 0 0;
}
.centered {
	display: block;
	margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.vertical-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.animated-bg {
	width: 100vw;
	height: 100vh;
	background-color: #FFFFFF;
}
.button-line {
	width: 40%;
}
.right {
	float: right;
}