* {
/*	border-color: red;
	border-width: 1px;
	border-style: solid;*/
	color: white;
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight: 400;
	margin: 0 0 0 0;
}
body {
	background-color: #622e00;
}
.orange-bg {
	background-color: #FF7700;
}
.centered {
	display: block;
	margin-left: auto;
    margin-right: auto;
}
/*hero*/
#hero-block {
	position: absolute;
	top: 100vh;
	z-index: 0;
	width: 100%;
	height: 400px;
}
#navbar {
	z-index: 100;
	position: fixed;
	width: 100%;
	height: 60px;
	font-size: 1.2em;
}
#navbar a {
	text-decoration: none;
	float: right;
	padding-top: 20px;
	margin-right: 20px;
	-webkit-transition: color 0.15s;
    transition: color 0.15s;
}
#navbar a.half-focus {
	color: #994800;
}
#navbar a:first-of-type {
	margin-right: 40px;
}
#navbar a:hover {
	color: #663000;
	-webkit-transition: color 0.15s;
    transition: color 0.15s;
}
#hero-image {
	opacity: 0;
	position: absolute;
	top: 100vh;
	z-index: -100;
	width: 100%;
}
#shadow {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 100%;
	background: linear-gradient(to top, rgba(0,0,0,0.35) 0, rgba(0,0,0,0) 100px, rgba(0,0,0,0) 100%);
}
#title {
	position: absolute;
	left: 5%;
	top: 320px;
}
/*content*/
#content-block {
	position: absolute;
	top: 100vh;
	z-index: 99;
	background-color: #FF7700;
	background-image: url('../image/texture.png');
	background-attachment: fixed;
	width: 100%;
}
.content-image {
	width: 40%;
}
.content-text {
	color: #000;
}