* {
	color: white;
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight: 400;
	text-decoration: none;
}
.orange-bg {
	background-color: #FF7700;
	margin: 0 0 0 0;
}
body {
	width: 100%;
	background-image: url('../image/texture.png');
	background-color: #F70;
}
h1 {
	font-size: 60px;
	margin-bottom: 10px;
}
#filter-menu a {
	display: inline-block;
	text-align: center;
	width: 120px;
	height: 20px;
	border: 2px solid white;
}
#navbar a {
	font-size: 20px;
	margin-right: 20px;
	-webkit-transition: color 0.25s;
    transition: color 0.25s;
}
#navbar a:hover {
	color: #663000;
	-webkit-transition: color 0.25s;
    transition: color 0.25s;
}
#project-grid {
	position: fixed;
	top: 38px;
	right: 45px;
	width: 68%;
	display: block;
}
.project {
	position: relative;
	float: left;
	width: 33.3%;
	margin: 0 0 0 0;
	cursor: pointer;
}
.hover-block {
	position: absolute;
	left: 0;
	background-color: #d96500;
	opacity:0;
	width: 100%;
	height: 100%;
	-webkit-transition: opacity 0.15s;
    transition: opacity 0.15s;
}
.hover-block:hover {
	position: absolute;
	left: 0;
	background-color: #d96500;
	opacity:.2;
	width: 100%;
	height: 100%;
	-webkit-transition: opacity 0.15s;
    transition: opacity 0.15s;
}
.project-name {
	opacity: 0;
	position: absolute;
	padding-left: 10%;
	padding-right: 10%;
	width: 80%;
	font-size: 1.4em;
	text-align: center;
}
img {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
}
.end6 {
	margin-right: 0;
}
#filter-menu {
	position: absolute;
	left: 50%;
	top: 420px;
}
#nav-block {
	position: absolute;
	left: 7%;
	bottom: 12%;
}
#transition-block {
	background-color: #622e00;
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 100vh;
}