* {
	color: white;
	font-family: 'Comfortaa', cursive;
	font-weight: 400;
}
p {
	margin-top: 0;
	margin-bottom: 0;
}
/* buttons */
a {
	text-decoration: none;
	overflow: hidden;
	margin-top: 10px;
	padding-top: 5px;
	display: inline-block;
	text-align: center;
	font-size: 1.4em;
	width: 120px;
	height: 35px;
	border: 2px solid white;
	-webkit-transition: background-color 0.2s, color 0.2s;
    transition: background-color 0.2s, color 0.2s;
}
a:hover {
	background-color: #FFF;
	color: #F70;
	-webkit-transition: background-color 0.15s, color 0.15s;
    transition: background-color 0.15s, color 0.15s;
}
body {
	width: 100vw;
	height: 100vh;
	margin: 0 0 0 0;
	overflow: hidden;
}
.orange-bg {
	background-color: #F70;
	margin: 0 0 0 0;
}
.centered {
	z-index: 100;
	display: block;
	margin-left: auto;
    margin-right: auto;
}
.vertical-center {
	position: relative;
	top: 50%;
	-ms-transform: translateY(-55%);
	-webkit-transform: translateY(-55%);
	transform: translateY(-55%);
	z-index: 100;
}
#center-canvas {
	background-image: url('../image/texture.png');
	background-color: #F70;
	border-color: #FFF;
	border-width: 4px;
	border-style: solid;
	min-height: 430px;
    width: 80%;
}
#center-canvas > p {
	margin-left: 40px;
	margin-right: 40px;
	font-size: 1.2em;
}
p#hello {
	font-family: 'Fredericka the Great', cursive;
	font-size: 4em;
	margin-top: 150px;
}
span#zhihao {
	font-family: 'Fredericka the Great', cursive;
	font-size: 70px;
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
	display: inline;
}
#pronunciation {
	position: relative;
	left: 180px;
	margin-bottom: 5px;
	-ms-transform: translateY(-17px);
    -webkit-transform: translateY(-17px);
    transform: translateY(-17px);
}
#animated-bg {
	z-index: -100;
	position: fixed;
	left: -100px;
	top: -100px;
	width: calc(100vw + 200px);
	height: calc(100vh + 200px);
	background-color: #F70;
	background-image: url(../image/background-dots.svg);
	background-size: 100px 100px;
}
#button-line {
	position: absolute;
	width: 120px;
	right: 40px;
	top: 20px;
}
@media screen and (max-width: 860px) {
	#animated-bg {
		display: none;
	}
	#center-canvas {
		position: absolute;
		top: 0;
		background-image: url('../image/texture.png');
		background-color: #F70;
		border-width: 0;
		height: 100%;
	    width: 100%;
	    -ms-transform: translateY(0);
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}
@media screen and (max-width: 634px) {
	#animated-bg {
		display: none;
	}
	#center-canvas {
		padding-top: 100px;
		position: relative;
		top: 0;
		border-width: 0;
		height: 100%;
	    width: 100%;
	    -ms-transform: translateY(0);
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	#center-canvas > p {
		float: right;
		margin-left: 40px;
		margin-right: 40px;
		margin-top: 20px;
		font-size: 1em;
	}
	p#hello {
		font-size: 3em;
		margin-top: 50px;
	}
	span#zhihao {
		font-size: 3em;
	}
	#pronunciation {
		position: relative;
		top: 50px;
		left: 300px;
		margin-bottom: 15px;
		-ms-transform: translateY(0);
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	#button-line {
		position: relative;
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		right: 0;
		top: 0;
	}
	a {
		margin-top: 120px;
		float: left;
	}
	a.right {
		float: right;
	}
}
@media screen and (max-width: 585px) {
	#center-canvas > p {
		margin-top: 50px;
		float: left;
		display: block;
	}
	p#pronunciation {
		display: none;
	}
	p#hello {
		font-size: 2em;
	}
	span#zhihao {
		font-size: 2em;
	}
}
@media screen and (max-width: 485px) {
	#center-canvas {
		padding-top: 70px;
	}
}
