* {
	color: white;
	font-family: 'Comfortaa', cursive;
	font-weight: 400;
}
p {
	margin-top: 0;
	margin-bottom: 0;
}
/* buttons */
a {
	text-decoration: none;
	overflow: hidden;
	margin-top: 10px;
	padding-top: 5px;
	display: inline-block;
	text-align: center;
	font-size: 1.4em;
	width: 120px;
	height: 35px;
	border: 2px solid white;
	-webkit-transition: background-color 0.2s, color 0.2s;
    transition: background-color 0.2s, color 0.2s;
}
a:hover {
	background-color: #FFF;
	color: #F70;
	-webkit-transition: background-color 0.15s, color 0.15s;
    transition: background-color 0.15s, color 0.15s;
}
body {
	width: 100vw;
	height: 100vh;
	margin: 0 0 0 0;
	overflow: hidden;
}
.orange-bg {
	background-color: #F70;
	margin: 0 0 0 0;
}
.centered {
	z-index: 100;
	display: block;
	margin-left: auto;
    margin-right: auto;
}
.vertical-center {
	position: relative;
	top: 50%;
	transform: translateY(-55%);
	z-index: 100;
}
#center-canvas {
	border-color: #FFF;
	border-width: 4px;
	border-style: solid;
	min-height: 430px;
    width: 80%;
}
#center-canvas > p {
	margin-left: 40px;
	margin-right: 40px;
	font-size: 1.2em;
}
p#hello {
	font-family: 'Fredericka the Great', cursive;
	font-size: 4em;
	margin-top: 150px;
}
span#zhihao {
	font-family: 'Fredericka the Great', cursive;
	font-size: 70px;
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
	display: inline;
}
#pronunciation {
	position: relative;
	left: 180px;
	margin-bottom: 5px;
	-ms-transform: translateY(-17px);
    -webkit-transform: translateY(-17px);
    transform: translateY(-17px);
}
#animated-bg {
	z-index: -100;
	position: fixed;
	left: -100px;
	top: -100px;
	width: calc(100vw + 200px);
	height: calc(100vh + 200px);
	background-color: #F70;
	background-image: url(../image/background-dots.svg);
	background-size: 100px 100px;
}
#button-line {
	position: absolute;
	width: 120px;
	right: 40px;
	top: 20px;
}